*.log
*.aux
*.lyx~
*.out
*.blg
*.bbl
*.toc
*.nav
*.snm
*.bcf
*.lof
*.lox
*.fls
*.vrb
*.dvi
*.md5
*.pdf
*.makefile
*.figlist
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.png
*.djvu
*.run.xml
*.code-workspace
/.vscode/*